body {
	font-family: 'arial';	
	color:white;
background: #22304C !important; 
}

 @media (min-width: 801px) {

#items 
{
  height: 76px;
 display:inline-block;

}

#items img 
{
 border:6px solid #1a1a1a;
 box-shadow:0 0 15px rgba(0,0,0, 0.5);
}

 
}



@media (max-width: 480px) 
{
 #items {
    position:sticky;
    top: 0px;
    right:0px; 
    z-index:10;
    background: #151F33;
    box-shadow:0 0 15px rgba(0,0,0, 0.5);
  }
  #items img {
 border:6px solid #1a1a1a;
box-shadow:0 0 15px rgba(0,0,0, 0.5);
  }
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #ffffff;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background:#22304C;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #22304C;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#myDiv {
  display: none;
  text-align: center;
}
 

#matchId {
	text-align: center;
    margin: auto;
    display:inline-block;
    color:white;
}

#heroName {
	font-size: 25px;
	text-align: center;
    margin: auto;
    display:inline-block;
    color:white;
}

#container {
   
    color:black;

}


#lowerContainer {
  
     background: #151F33 !important; 
}

#strength {

background-color:rgba(255,0,0,0.3);
	text-align: left;
    margin: auto;
    display:inline-block;
color:white;
}

#agility {

	 background-color:rgba(0,255,0,0.3);
	text-align: left;
    margin: auto;
    display:inline-block;
color:white;
}

#intelligence {

	background-color:rgba(0,0,255,0.3);
	text-align: left;
    margin: auto;
    display:inline-block;
color:white;
}

.hero 
{
 height: 64;
 width: 85px;
 transition:all 0.2s;
 position:relative;
 display:block;
 float:left;
 border:3px solid black;
}

.hero:hover
{
 position: relative;
 transform:scale(1.5);
 transition:all 0.2s;
 top:-2px;
 left:-2px;
 z-index: 3;
 border: 3px solid white;
}

.hero:active	
{
 position: relative;
 transform:scale(1.5);
 transition:all 0.2s;
 top:-2px;
 left:-2px;
 z-index: 3;
 border: 3px solid grey;
}



#items img 
{
 border:6px solid #1a1a1a;
 box-shadow:0 0 15px rgba(0,0,0, 0.5);
}

#items 
{

 display:inline-block;

}

#plebHero {
  color:black;
}

#heroTitle 
{
 color:white;
}
#matchId 
{
 display:block;
}

#formDiv {
    width: 40%;
    padding: 10px 0;
    display: none;
    
    text-align: center;
    color:white;
    margin: 10px auto;
  
}
.formHeroes 
{
}

#radiantTeamText {
 color:white; 
 
}

#direTeamText {
 color:white; 
 align:center;
}

#direTeamIcon 
{
 width: 50px;
  margin: 5px;
 border-radius: 50%;
}

#radiantTeamIcon 
{
 width: 50px;
  margin: 5px;
 border-radius: 50%;
}

.heroDirs {
  display:block;
}

.heroDirs:hover {
  display:block;
background-color: #151F33;
  
}


.heroDirs img{
 width: 60px;  
      padding: 1px;
}

#matchIdText {
  background-color: #22304C;
  border: 0px;
  color:white;
  transition:all 0.2s;
  width: 128px ;
  text-align:center;
  border-bottom: solid #151F33 1px;
}

#matchIdText:focus {
  background-color: #22304C;
  border: 0px;
  color:white;
  transition:all 0.2s;
  width: 128px ;
  text-align:center;
  border-bottom: solid white 3px;
}

#matchSubmit {
  margin: 10px;
}

