body {
	font-family: 'arial';	
	color:white;
background: #22304C !important; 
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 100px;
  height: 100px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#myDiv {
  display: none;
  text-align: center;
}
 

#matchId {
	text-align: center;
    margin: auto;
    display:inline-block;
    color:white;
}

#heroName {
	font-size: 25px;
	text-align: center;
    margin: auto;
    display:inline-block;
    color:white;
}

#container {
   
    color:black;

}


#lowerContainer {
    border: 3px solid red;
     background: #151F33 !important; 
}

#strength {

background-color:rgba(255,0,0,0.3);
	text-align: left;
    margin: auto;
    display:inline-block;
color:white;
}

#agility {

	 background-color:rgba(0,255,0,0.3);
	text-align: left;
    margin: auto;
    display:inline-block;
color:white;
}

#intelligence {

	background-color:rgba(0,0,255,0.3);
	text-align: left;
    margin: auto;
    display:inline-block;
color:white;
}

.hero 
{
 height: 64;
 width: 85px;
 transition:all 0.2s;
 position:relative;
 display:block;
 float:left;
 border:3px solid black;
}

.hero:hover
{
 position: relative;
 transform:scale(1.5);
 transition:all 0.2s;
 top:-2px;
 left:-2px;
 z-index: 3;
 border: 3px solid white;
}

.hero:active	
{
 position: relative;
 transform:scale(1.5);
 transition:all 0.2s;
 top:-2px;
 left:-2px;
 z-index: 3;
 border: 3px solid grey;
}


#items {
    display:inline-block;
    border: 3px solid black;
}

#plebHero {
  border:3px solid red;
  color:black;
}

