body {
	background-color: #2d2d2b;
	font-family: 'arial';	
	color:white;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 100px;
  height: 100px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#myDiv {
  display: none;
  text-align: center;
}
 
 #winnerText {
 	font-size: 15px;
 	text-align: center;
    margin: auto;
    display:none;
    color:white;
 }

#matchId {
	text-align: center;
    margin: auto;
    display:inline-block;
    color:white;
}

#heroName {
	font-size: 25px;
	text-align: center;
    margin: auto;
    display:inline-block;
    color:white;
}

#container {
	 border:10px #24090d;
	   border-radius: 5px;
	 border-style: solid;
	   background-color: rgba(0,0,0,0.5);
	text-align: center;
    margin: auto;
    display:inline-block;
    color:black;

}


#lowerContainer {
    text-align: center;
    width: 550px;
  
    margin: auto;
    display:inline-block;
    color:black;
}

#strength {

background-color:rgba(255,0,0,0.3);
	text-align: left;
    margin: auto;
    display:inline-block;
color:white;
}

#agility {

	 background-color:rgba(0,255,0,0.3);
	text-align: left;
    margin: auto;
    display:inline-block;
color:white;
}

#intelligence {

	background-color:rgba(0,0,255,0.3);
	text-align: left;
    margin: auto;
    display:inline-block;
color:white;
}

.hero 
{
 width:59px;
 height: 33px;
 transition:all 0.2s;
 position:relative;
 display:block;
 float:left;
 border:3px solid black;
}

.hero:hover
{
 position: relative;
 transform:scale(1.5);
 transition:all 0.2s;
 top:-2px;
 left:-2px;
 z-index: 3;
 border: 3px solid white;
}

.hero:active	
{
 position: relative;
 transform:scale(1.5);
 transition:all 0.2s;
 top:-2px;
 left:-2px;
 z-index: 3;
 border: 3px solid grey;
}

input.newGame {
width: 100px;
padding: 10px;
cursor: pointer;
font-size: 100%;
background: #00b570;
color: #fff;
border: 1px solid #00b570;
border-radius: 10px;


}

input.newGame:hover {
color: #fff;
background: #007146;
}

.items img{
   display:inline-block;
 width:100px;
 height: 100px;
}

.plebHero img {
	margin-left: auto;
	margin-right: auto;
	display: block;
  border:3px solid red;
  color:black;
}

